body {
    margin: 0;
    top: 0;
    bottom: 0;
   
}
.aside {
    background-image: url('./images/bg-main-desktop.png');
    height: 100vh;
    width: 25%;
    float: left;
  
}

label {
    font-family:'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 10px;
}


.container-fluid {
    position: relative;
    min-height: 20%;
}

.row {
    width: 50%;
    
}

.form-control {
    display: flex !important;
    flex-direction: column;
    /* min-width: 40%; */
    margin: 30% !important;
    border: none !important;
}

.svg-container {
    padding-top: 20%;
    margin-left: 25%;
    text-align: center;
    display: none;
  }

.form-control-sm {
    padding: 4% 4% !important;
}

.attribution {
    font-size: 11px;
    min-width: 100vw;
    bottom: 0;
    text-align: center;
    position: absolute;
  }

  .attribution {
    position: absolute;
    
    width: 100%;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .card-front {
      width: 300px;
      height: 150px;
      position: absolute;
      border: 1px solid gray;
      border-radius: 5px;
      margin-top: 10%;
      left: 10%;
      padding: 1%;
      background-image: url('./images/bg-card-front.png');
      color: hsl(0, 0%, 100%);
      font-family:'Space Grotesk', sans-serif;
    font-weight: 500;
  }

  .card-reverse {
    width: 300px;
    height: 150px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 23%;
    left: 14%;
  }
  .card-back {
    width: 300px;
    height: 150px;
  }

  .card-logo {
      margin-left: 2%;
      width: 20%;
      margin-bottom: 15%;
  }
  .card-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 10px;
      color: hsl(270, 3%, 87%);
  }

  .date {
      display: flex;
      flex-direction: row;
      margin: 0;
  }

  #cardholdername {
      font-size: 12px;
      font-family:'Space Grotesk', sans-serif;
      color: hsl(278, 68%, 11%)
  }
  #cardnumber {
    font-size: 12px;
    font-family:'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%)
}
#month {
    font-size: 12px;
    font-family:'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%)
}

#year {
    font-size: 12px;
    font-family:'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
}

#c-v-c{
    font-size: 12px;
    font-family:'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%)
}

  #card-cvc {
      position: relative;
      float: right;
      right: 13%;
      bottom: 57%;
      font-size: 10px;
      color: hsl(0, 0%, 100%);
      font-family:'Space Grotesk', sans-serif;
  }

#name-empty {
    text-decoration: none;
     list-style-type: none;
     color: hsl(0, 100%, 66%);
     font-size: 10px;
}
 #cardname-error{
    
     text-decoration: none;
     list-style-type: none;
     color: hsl(0, 100%, 66%);
     font-size: 10px;
 }

 #number-empty {
    text-decoration: none;
     list-style-type: none;
     color: hsl(0, 100%, 66%);
     font-size: 10px;
}
 
 #cardnumber-error{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#month-empty{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#month-error{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#year-empty{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#year-error{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#cvc-empty{
    position: relative;
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

#cvc-error{
    text-decoration: none;
    list-style-type: none;
    color: hsl(0, 100%, 66%);
    font-size: 10px;
}

.month-date {
    display: flex;
    flex-direction: column;
}

.year-date {
    display: flex;
    flex-direction: column;
}

.cvc-num{
    display: flex;
    flex-direction: column;
}

 /* ol, ul {
    padding-left: 0 !important; 
 } */

  #card-name {
      text-transform: uppercase;
  }
  

  .form label {
      font-size: 10px;
      padding: 2px;
  }

  .input {
      font-size: 12px;
      color: hsl(270, 3%, 87%);
      width: 263px;
      border: 1px solid hsl(270, 3%, 87%);
      border-radius: 5px;
      padding: 2px;
      margin-right: 5px;
      height: 30px;
  }

  .month {
    font-size: 12px;
    color: hsl(270, 3%, 87%);
    width:60px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    padding: 2px;
    height: 30px;
    margin-right: 5px;
  }

  .year {
    font-size: 12px;
    color: hsl(270, 3%, 87%);
    width:60px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    padding: 2px;
    height: 30px;
  }

  .card-back-bottom {
      display: flex;
      flex-direction: row;
      /* margin-right: 10px; */
      padding-bottom: 5px;
  }

  #c-v-c {
    font-size: 12px;
    color: hsl(270, 3%, 87%);
    width: 133px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    height: 30px;
  }

  .button-confirm {
      margin-top: 5%;
      margin-bottom:5%;
      width: 265px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      background-color:  hsl(278, 68%, 11%);
      border-radius: 5px !important;
      padding: 6px 10px 6px 10px;
      font-size: 10px;
      font-family: 'Space Grotesk', sans-serif;
  }

  .label {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-right: 10%;
  }

  #cvc {
      float: right;
      margin-left: 8%;
  }


  /* .icon-complete {
      height: 100%;
      margin-top: 20%;
  } */

  @media screen and (max-width: 900px) {
      .card-front {
          margin-top: 35%;
          left: 5%;
          z-index: 100;
      }

      .card-reverse {
          margin-top: 10%;
          right: 5%
      }

      .container-fluid {
          height: 5%
      }

      .attribution {
          position: absolute;
          text-align: center;
      }

      .aside {
          background-image: url('/images/bg-main-mobile.png');
          min-width: 100vw; 
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top center;
          
      }

      .row {
          width: 100vw;
          left: 0;
      }


      .form label {
          font-size: 10px;
      }

      .button-confirm {
          height: 45px;
          width: 100%;
      }

      .form-control-sm {
          max-width: 90%;
      }

      .input {
          width: 100%;
      }

      #cvc {
          margin-left: 10%;
      }

      #c-v-c{
          padding-left: 5%;
          width: 60%;
      }

      .month {
        padding-left: 5%;
        width: 20%;
    }

    .year {
        padding-left: 5%;
        width: 20%;
    }
     label {
         width: 100px;
     }

     
     .expiry {
         padding-left: 10%;
     }
    

     .form-control {
        margin-left: 0 !important;
        margin-top: -80% !important;
        padding-left: 0;
     }

     .container {
         height: 0%;
         width: 100vw;
     }

     .svg-container {
        /* margin-left: 50%;
        PADDING-top: 10%;
        border: none !important;
        border: solid red;
        display: none;
        flex-direction: column; */
        margin-left: 0 !important;
        margin-top: -100% !important;
        padding-left: 0;
        display: none;
      }
  }